.UserList {
    background-color: #ffffff;
    margin-bottom: 3px;
}

.UserHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8vw, 10fr));
    gap: 30px;

    padding: 26px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #fafafa;
    margin-bottom: 3px;
  }

  .UserFooter {
    display: flex;

    padding: 15px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #fafafa;

    .Select {
        margin-right: 50%;
    }

    h4 {
        margin-left: 5px;
        margin-top: 15px;
        margin-right: 10px;
        font-weight: normal;
    }
  }

