{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "semi": "off",
    "quotes": "warn",
    "jsx-quotes": "warn",
    "no-unused-vars": "off",
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unused-prop-types": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-use-before-define": "off",
    "no-console": "warn",
    "no-trailing-spaces": "warn",
    "space-before-function-paren": "off",
    "lines-between-class-members": "off",
    "comma-spacing": "warn",
    "padded-blocks": "warn",
    "implicit-arrow-linebreak": "off",
    "arrow-body-style": "warn",
    "dot-notation": "warn",
    "react/require-default-props": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": 1,
    "no-debugger": "warn",
    "react/no-array-index-key": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/order": 1,
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss"]
      }
    }
  }
}
