.PropertyList {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;

  .listHeader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 1.5rem;
    background-color: #eeeeee;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid #cccccc;
  }
}
