.pageBanner {
  width: 100%;
  height: 190px;
  background-color: #b6b6be;
}

.mainContent {
  padding: 2rem 4rem;

  h1 {
    font-size: 3rem;
  }

  .pageDescr {
    display: block;
    padding: 2rem 0;
    width: 50%;
    text-align: justify;
    line-height: 1.5rem;
    color: #9b99a6;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    border: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
}
