.mainContent {
  padding: 2rem 4rem;

  h1 {
    font-size: 3rem;
  }

  .pageDescr {
    display: block;
    padding: 2rem 0;
    width: 50%;
    text-align: justify;
    line-height: 1.5rem;
    color: #9b99a6;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    border: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
}

form {
  padding: 0 184px;

  input {
    background: #ffffff;
    border: 1px solid rgba(133, 135, 155, 0.48);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 18px 12px 9px 12px;

    &::placeholder {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #85879b;
    }
  }

  label {
    display: flex;
    flex-direction: column;
  }

  section {
    margin-bottom: 72px;
  }
}
