.Header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.navigation {
  margin-right: auto;
}

.navItems {
  display: flex;
  font-weight: 700;

  li {
    color: #696774;

    a {
      color: #383838;
      text-decoration: none;
    }
  }

  li:first-child {
    margin-left: 64px;
  }

  li:not(:last-child) {
    margin-right: 64px;
  }
}

.logo {
  position: absolute;
  left: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
}
