.UserItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8vw, 10fr));
  gap: 30px;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;

  p {
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    max-width: 10vw;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #696774;
  }

  a {
    width: 70px;
  }
}

.tag {
  text-decoration: none;
}

.IconButton {
  width: 50px;
}

hr {
  background-color: rgba(0, 0, 0, 0.25);
  height: 1px;
  border: 0;
  margin: 0;
}
