.AdvancedSearch {
}

.input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.75em;
  width: 450px;
}

.spacer {
  display: inline-block;
  height: 1px;
  width: 1rem;
}

.button {
  border: none;
  background-color: #006dff;
  color: white;
  border-radius: 5px;
  padding: 0.75em;
}
